.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://cdn.wallpapersafari.com/4/17/x3oI6d.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://cdn.wallpapersafari.com/4/17/x3oI6d.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://cdn.wallpapersafari.com/4/17/x3oI6d.jpg);
}
